* {
    box-sizing: border-box;
}

.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signup-form {
    margin: auto;
}

.signup-form label {
    text-align: right;
}

.signup-form input {
    margin: 0 10px;
}

.signup-form button {
    align-items: center;
    margin: 10px 10px;
}

.login-form {
    margin: auto;
}

.login-form label {
    text-align: right;
}

.login-form input {
    margin: 0 10px;
}

.login-form button {
    align-items: center;
    margin: 10px 10px;
}

.loginForms {
    width: 50%;
    margin: 0 auto;
}

.loginForms h2 {
    text-align: center;
}

.loginForms p {
    text-align: left;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}

@media screen and (min-width: 400px) {
    .landingContainer {
        text-align: center;
        text-align: center;
        padding: 30px;
        margin: 0px;
        display: block;
    }
    .form-section {
        text-align: center;
        padding: 5px;
    }

    .form-section input {
        width: 50%;
    }

    .form-section textarea {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    .landingContainer {
        text-align: center;
        text-align: center;
        padding: 5px;
        display: block;
    }
}