
.record-comic {
    background-color: #efefef;
    border-radius: 5px;
    color: #000000;
    padding: 30px 40px;
    margin: 10px 0px;
}

.record-comic button:hover {
    border: solid 5px #000000;
    padding: 5px;
}

.record-comic label {
    text-align: left;
    padding: 5px;
}

.record-comic input {
    float: right;
    width: 50%;
}

* {
    box-sizing: border-box;
}