.showDetail {
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #efefef;
    color: #000000;
}

.showDetailButton {
    margin-top: 20px;
    background-color: #efefef;
}

 
.show-detail-section {
    background-color: #efefef;
    color: #000000;
}
/*
.show-detail-section label {
    background-color: #efefef;
    color: #000000;
}

.show-detail-section span {
    background-color: #efefef;
    color: #000000;
}

.show-detail-section select {
    background-color: #efefef;
    color: #000000;
}

.show-detail-section h1 {
    background-color: #efefef;
    color: #000000;
}  */
/* 
.showDetail {
    background-color: #efefef;
    border-radius: 5px;
    color: #000000;
    padding: 30px 40px;
} */

/* .showDetailButton {
    background-color: #efefef;
    display: block;
} */

/* @media screen and (min-width: 400px) {
    .showDetail {
        display: block;
        width: 50%;
    }
    .show-detail-section {
        padding: 5px;
    }

    .show-detail-section input {
        width: 50%;
    }

    .show-detail-section textarea {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    .show-detail-section {
        text-align: center;
    }
} */