.showDetail {
    margin: auto;
    width: 50%;
    background-color: #efefef;
    color: #000000;
    height: 100%;
}

.showDetail label {
    background-color: #efefef;
    color: #000000;
    float: left;
    clear: left;
    width: 50%;
    text-align: right;
    margin-top: 5px;
}

.showDetail span {
    background-color: #efefef;
    color: #000000;
    float: left;
    text-align: left;
    width: 45%;
    margin-top: 5px;
    margin-left: 5px;
}

.showDetail select {
    float: left;
    background-color: #efefef;
    color: #000000;
    margin-top: 5px;
    width: 30%;
    margin-left: 5px;
}

.showDetailButton {
    margin-top: 20px;
    background-color: #efefef;
    clear: both;
    border-radius: 5px;
}

 
.show-detail-section {
    clear: both;
    padding-top: 20px;
    background-color: #efefef;
    color: #000000;
}

.deleteButton {
    background-color: #efefef;
    color: #000000;
}

.showDetail button {
    background-color: #efefef;
    color: #000000;
}

/*
.show-detail-section label {
    background-color: #efefef;
    color: #000000;
}

.show-detail-section span {
    background-color: #efefef;
    color: #000000;
}

.show-detail-section select {
    background-color: #efefef;
    color: #000000;
}

.show-detail-section h1 {
    background-color: #efefef;
    color: #000000;
}  */
/* 
.showDetail {
    background-color: #efefef;
    border-radius: 5px;
    color: #000000;
    padding: 30px 40px;
} */

/* .showDetailButton {
    background-color: #efefef;
    display: block;
} */

/* @media screen and (min-width: 400px) {
    .showDetail {
        display: block;
        width: 50%;
    }
    .show-detail-section {
        padding: 5px;
    }

    .show-detail-section input {
        width: 50%;
    }

    .show-detail-section textarea {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    .show-detail-section {
        text-align: center;
    }
} */