#record-comic {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-section {
    text-align: left;
    padding: 5px;
}

* {
    box-sizing: border-box;
}

.comedianItem button {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #efefef;
    color: #000000;
}

.comedianItem button:hover {
    border: solid 1px #000000;
    color: #efefef;
    padding: 5px;
}

.detailButton {
    background-color: #efefef;
    color: #000000;
}

.editButton {
    background-color: #efefef;
    color: #000000;
}

.showHeader {
    background-color: #efefef;
    color: #000000;
}