.record-comic {
    margin: 10px auto;
    text-align: center;
    width: 50%;
    background-color: #efefef;
    color: #000000;
}

.comic-detail-section {
    background-color: #efefef;
    color: #000000;
}

.comic-detail-section label {
    text-align: right;
    background-color: #efefef;
    color: #000000;
}

.comic-detail-section span {
    text-align: left;
    background-color: #efefef;
    color: #000000;
}

.comedianHeader {
    background-color: #efefef;
    color: #000000;
}

.editButton {
    background-color: #efefef;
    color: #000000;
}

.showHeader {
    background-color: #efefef;
    color: #000000;
}