* {
    box-sizing: border-box;
}

a {
    background-color: #000000;
    color: #efefef;
}

.addShowButton {
    border: 1px solid #C9C9C8;
    background-color: #010101;
}

.listMain {
    text-align: center;
    margin: auto;
    width: 50%;
}

.show li {
    list-style-type: none;
    background-color: #efefef;
}

.show ul {
    justify-content: center;
    margin: 30px;
    padding: 0px;
}

.showItem {
    background-color: #efefef;
    border-radius: 5px;
    color: #000000;
    padding: 30px 40px;
    margin: 10px 0px;
}

.showItem button {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #efefef;
    color: #000000;
}

.detailButton {
    background-color: #efefef;
    color: #000000;
    margin-top: 20px;
}

.detailButton:hover {
    background-color: #cdcdcd;
    border-color: #000000;
    padding: 5px;
}

.editButton {
    background-color: #efefef;
    color: #000000;
    margin-top: 20px;
}

.showHeader {
    background-color: #efefef;
    color: #000000;
    margin-bottom: 7px;
}

.controls {
    margin-top: 20px;
    background-color: #efefef;
}