
.showListMain {
    text-align: center;
    margin: auto;
    width: 50%;
}

.addShowButton a {
    background-color: #efefef;
    color: #000000;
}

.addShowButton {
    background-color: #efefef;
    color: #000000;
}

.showItem {
    background-color: #efefef;
    border-radius: 5px;
    color: #000000;
    padding: 30px 40px;
    margin: 10px 0px;
}

.showListControls button {
    background-color: #efefef;
    color: #000000;
}

.showListControls {
    margin-top: 20px;
    background-color: #efefef;
    color: #000000;
}

.detailButton {
    background-color: #efefef;
    color: #000000;
}