
.comedianListMain {
    text-align: center;
    margin: auto;
    width: 50%;
}

.comedianListItem {
    border-radius: 5px;
    padding: 30px;
    margin: 10px auto;
    width: 40%;
}

.comedianItem {
    background-color: #efefef;
    border-radius: 5px;
    color: #000000;
    padding: 30px 40px;
    margin: 10px 0px;
}

.addComedianButton a {
    background-color: #efefef;
    color: #000000;
}

.addComedianButton {
    background-color: #efefef;
    color: #000000;
}

.detailButtonComedian {
    background-color: #efefef;
    color: #000000;
}

.showHeader {
    background-color: #efefef;
    color: #000000;
}

a {
    background-color: #efefef;
    color: #000000;
}

.comicListControls {
    margin-top: 20px;
    background-color: #efefef;
    color: #000000;
}

.comicListControls button {
    background-color: #efefef;
    color: #000000;
}