* {
    box-sizing: border-box;
    color: #C9C9C8;
}

.comedianListMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.comedianListItem {
    border: 2px solid #0338FF;
    border-radius: 5px;
    padding: 30px;
    margin: 10px auto;
    width: 40%;
}

ul {
    list-style-type: none;
}

button {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #C9C9C8;
    border-radius: 5px;
    padding: 5px;
}
 button:hover {
    border: 1px solid #FBF708;
 }