* {
    box-sizing: border-box;
    background-color: #010101;
    color: #C9C9C8;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #C9C9C8;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

button:hover {
    border: 1px solid #FBF708;
}

a {
    text-decoration: none;
}