.record-show {
    margin: 10px auto;
}

.form-section {
    text-align: left;
    padding: 5px;
}

.form-section label {
    padding-right: 5px;
    background-color: #efefef;
    color: #000000;
}

.form-section input {
    float: right;
    width: 50%;
    background-color: #efefef;
    color: #000000;
}

.form-section select {
    float: right;
    width: 50%;
    background-color: #efefef;
    color: #000000;
}

.form-section textarea {
    display: block;
    width: 100%;
    background-color: #efefef;
    color: #000000;
}

@media screen and (min-width: 400px) {
    .record-show {
        text-align: center;
        text-align: center;
        padding: 30px;
        margin: 0px;
        display: block;
    }
    .form-section {
        text-align: center;
        padding: 5px;
    }

    .form-section input {
        width: 50%;
    }

    .form-section textarea {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    .record-show {
        text-align: center;
        text-align: center;
        display: block;
    }
}