
.nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    border: 2px solid #C9C9C8;
    border-radius: 5px;
    background-color: #010101;
    color: #C9C9C8;
    margin: 5px;
    transition: all 0.2s;
}

.nav ul li:hover {
    background-color: #cdcdcd;
    color: #000000;
    transition: .3s ease-in;
    border: 1px solid #000000;
    padding: 10px;
}

.nav ul li:visited {
    color: #0338FF;
}

.nav ul li a {
    text-decoration: none;
}

.nav button {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #C9C9C8;
    background-color: #010101;
    color: #C9C9C8;
}

.nav button:hover {
    background-color: #cdcdcd;
    color: #000000;
    transition: .3s ease-in;
    border: 1px solid #000000;
    padding: 10px;
}
