.edit-record-show {
    background-color: #efefef;
    color: #000000;
    margin: auto;
}

.edit-record-show {
    background-color: #efefef;
    color: #000000;
}

.edit-show-section {
    text-align: left;
    padding: 10px;
    border-radius: 0px;
    margin: 0px;
}

.edit-record-show h1 {
    background-color: #efefef;
    color: #000000;
    margin: 0px;
}
